<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ananyz.cp.service.mapper.CpDataMapper" >
  <resultMap id="BaseResultMap" type="cn.ananyz.cp.service.model.CpData" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cp_date" property="cpDate" jdbcType="VARCHAR" />
    <result column="cp_qi_hao" property="cpQiHao" jdbcType="INTEGER" />
    <result column="wan" property="wan" jdbcType="INTEGER" />
    <result column="qian" property="qian" jdbcType="INTEGER" />
    <result column="bai" property="bai" jdbcType="INTEGER" />
    <result column="shi" property="shi" jdbcType="INTEGER" />
    <result column="ge" property="ge" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="queryLastData" resultMap="BaseResultMap" >
    SELECT * FROM cp_data ORDER BY cp_date DESC,cp_qi_hao DESC LIMIT 0,1
  </select>
</mapper>